.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7988c3;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
